@use 'sass:color';

$bgColor: #f8f8f8;
$text: black;
$transition: all 0.3s ease;
$regularFontSize: 20px;
$mainTextContent: rgb(99, 99, 99);
$shadowColor: #c1c1c1;

//  MAKING VARIABLES STYLING
$content-color: #ff3e79;

// MIXIN

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-inlineCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-inlineSpaceBetween {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin img-logo {
  width: 80px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-content: center;
}

@mixin hoverPinkText {
  opacity: 0.5;
  color: $content-color;
}

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bgColor;
  font-family: 'Roboto';
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'width' 100;
}

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.section {
  &__little-navbar {
    @include flex-spaceBetween;
    width: 100%;
    padding: 0 20px;
    background-color: $bgColor;
  }

  &__content-title.main {
    padding-top: 40px;
    margin-bottom: 10px;
    font-size: $regularFontSize;
  }
}

.navbar {
  &__item-left {
    @include flex-spaceBetween;
  }
  &__item-right {
    display: flex;
  }
  &__item.one,
  &__item.three {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.swiper {
  &-pagination,
  &-button-prev,
  &-button-next {
    display: none;
  }

  &-slide {
    width: 360px !important;
  }
}

@media (min-width: 768px) {
  .nevbar {
    display: flex;
  }
  .navbar {
    &__item.one {
      display: flex;
    }
    &__item.three {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .brand_logo {
    display: flex;
    flex-wrap: flex;
  }
}

@media (min-width: 1120px) {
  .section {
    &__little-navbar {
      display: none;
    }
  }
  .navbar {
    &__item.three {
      display: inline-flex;
    }
  }
}

@media (max-width: 768px) {
  .swiper {
    &-pagination,
    &-button-prev,
    &-button-next {
      display: block;
    }
  }
}

// GRID
.section__navigation {
  grid-column: 1/3;
  /* background-color: bisque; */
}

.section__content-title {
  grid-column: 1/3;
  /* background-color: bisque; */
}

.section__content-left {
  grid-column: 1/2;
  /* background-color: bisque; */
}

.section__content-right {
  grid-column: 2/3;
  /* background-color: bisque; */
}

// GRID END

.main-container {
  margin-top: 20px;
}

.sidebar img,
.navbar__item img {
  @include img-logo;
}

.navbar__item img {
  margin-left: 30px;
}

.header {
  @include flex-spaceBetween;
  padding: 50px 50px 50px 50px;
}

h2 {
  text-align: left;
  font-weight: bold;
  border-left: aqua 20px;
  font-size: 35px;
}

.navbar {
  &__item {
    @include flex-inlineSpaceBetween;
    text-decoration: none;
    color: $text;

    // HOVER
    &:hover {
      @include hoverPinkText;
    }
  }
  &__item img {
    @include img-logo;
    margin-left: 30px;
  }
  &__item.three {
    margin: 0 10px;
  }
  &__item-span {
    @include flex-center;
    font-size: 30px;
    margin: 0 10px;
    opacity: 0.5;
  }
  &__item.logo {
    margin-right: 60px;
    align-items: center;
  }
}

// ICONS

// KESALAHAN SEPERTINYA DISINI
.section__little-navbar,
.navbar,
.sidebar {
  & i {
    background-color: $content-color;
    color: white;
    // PERLU KOREKSI
    @include flex-inlineCenter;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
  }
}

.part {
  display: flex;
  font-size: 17px;
  overflow-x: auto;
  padding: 16px;

  &__navigation {
    @include flex-inlineSpaceBetween;
    min-width: 150px;
    padding-bottom: 10px;
    margin-left: 50px;
    color: $text;
    text-decoration: none;
    text-align: center;

    &:hover {
      @include hoverPinkText;
      border-bottom: 4px solid $content-color;
    }
  }
}

// SMOOTH ANIMATION HOVERING

.part__navigation,
.navbar__item,
.read_more,
.brand,
.sidebar .part__navigation,
.sidebar .info a {
  transition: $transition;
}

.read_more,
.part__navigation,
.navbar__item {
  &:hover {
    @include hoverPinkText;
  }
}

.part__navigation:hover {
  border-bottom: 4px solid $content-color;
}

.content {
  font-size: $regularFontSize;
  margin-bottom: 20px;
}

.main {
  margin-left: 50px;
  color: $mainTextContent;
  & a {
    text-decoration: none;
    padding: 0 10px;
    align-items: center;
    color: $mainTextContent;
  }
}

img {
  width: 500px;
}

// READ MORE BUTTON (START)

.paragraph {
  &_one {
    display: inline-flex;
  }
  &_two {
    display: none;
  }
}

input[type='checkbox']#paragraph_btn {
  height: 2em;
  display: block;
  appearance: none;
}

label.paragraph_button {
  position: relative;
  cursor: pointer;
}

.container .readMore_btn img::before {
  display: inline-flex;
}

.readMore_btn label.paragraph_button::before {
  content: 'Read More';
}

input[type='checkbox']#paragraph_btn:checked
  ~ .readMore_btn
  label.paragraph_button::before {
  content: 'Hide';
}

input[type='checkbox']#paragraph_btn:checked {
  & ~ .paragraph_two {
    display: inline-block;
  }
  & ~ .dots1 {
    display: none;
  }
}

// READ MORE BUTTON (END)

.sidebar {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 320px;
  /* flex-direction: column; */
  align-items: flex;
  justify-content: flex;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);

  &__item.logo {
    margin-right: 60px;
    align-items: center;
  }

  &__top {
    // PERLU KOREKSI
    @include flex-inlineSpaceBetween;
    justify-items: center;
    margin: 20px 10px;
  }

  &__listmenu .part__navigation {
    color: $text;
    margin: 10px 0;
    margin-left: 30px;
    padding-left: 10px;
    align-items: center;
  }

  &__bottom {
    position: relative;
    bottom: 10px;
    margin-left: 40px;
    margin-top: 120px;
  }

  & .info {
    // @include flex-center;
    justify-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 20px;

    & span {
      // @include flex-inlineCenter;
      display: inline-flex;
      align-items: center;
      width: 100%;
      font-size: large;
    }

    & a {
      @include flex-inlineCenter;
      justify-items: center;
      color: $text;
      text-decoration: none;
      text-align: center;
      font-size: larger;

      &:hover {
        @include hoverPinkText;
      }
    }
  }

  & .part__navigation:hover {
    border-left: 4px solid #61dd95;
    border-bottom: none;
    align-items: center;
    font-weight: 1000;
    cursor: pointer;
    color: $content-color;
  }

  &__bottom a {
    margin-right: 10px;
  }

  & .info .number {
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
  }
}

@media (min-width: 789px) {
  .sidebar {
    display: none;
  }
}

// ICON BRANDS

p.brand_title {
  font-weight: 500;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 20px;
}

.brand {
  user-select: none;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  width: 400px;
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $bgColor;
  margin: 20px 30px;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 10px;

  &.one {
    display: inline-flex;
  }

  &_logo {
    margin-left: 50px;
  }

  & i {
    @include flex-center;
    font-size: $regularFontSize;
    border: 2px solid $content-color;
    padding: 25px;
    border-radius: 50px;
    text-decoration: none;
    color: $content-color;
    width: 20px;
    height: 10px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px $shadowColor;
  }
}

img.brand__logo {
  @include flex-center;
  flex-direction: row;
  width: 200px;
  height: 55px;
  gap: 100px;
}

.readMore_btn {
  @include flex-spaceAround;
  margin-left: 10px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  padding: 20px;
  padding-right: 70px;
  margin-bottom: 50px;
  transition: 0.3s ease-in;

  & img {
    width: 30px;
  }
}

// BUTTON

input[type='checkbox'] {
  &#paragraph_btn,
  &#logo_btn {
    height: 2em;
    display: block;
    appearance: none;
  }
}

label {
  &.paragraph_button,
  &.logo_button {
    
    position: relative;
    cursor: pointer;
    font-size: $regularFontSize;
  }
}

// ALL THE DYNAMIC BUTTON OF BRANDS (BY MEDIA)

/* HERE THE CODE ADD */

@media (max-width: 768px) {
  .brand {
    &.one,
    &.two {
      display: inline-flex;
    }
  }
  img.logo_button {
    display: none;
  }
}

@media (min-width: 768px) {
  .brand {
    &_logo {
      display: block;
    }
    &_logo .readMore_btn:hover {
      box-shadow: 0px 0px 10px #c1c1c1;
    }
    &.one {
      display: inline-flex;
    }
    &.two {
      display: none;
    }
  }

  .brand_logo .readMore_btn img.logo_button::before {
    display: inline-flex;
  }

  .readMore_btn {
    & label.paragraph_button::before,
    & label.logo_button::before {
      content: 'Read More';
    }
  }

  input[type='checkbox'] {
    &#paragraph_btn:checked ~ .readMore_btn label.paragraph_button::before,
    &#logo_btn:checked ~ .readMore_btn label.logo_button::before {
      content: 'Hide';
    }
  }

  /* SHOW/HIDE PARAGRAPH PRACTICE 1 - SUCCESS*/

  input[type='checkbox']#logo_btn:checked ~ .brand.two {
    display: inline-flex;
  }
}

// THE CODE READ MORE / HIDE ENDED


