@use 'sass:color';

$bgColor: #f8f8f8;
$text: black;
$transition: all 0.3s ease;
$regularFontSize: 20px;
$mainTextContent: rgb(99, 99, 99);
$shadowColor: #c1c1c1;

//  MAKING VARIABLES STYLING
$content-color: #ff3e79;

// MIXIN

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-inlineCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-inlineSpaceBetween {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-SpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin img-logo {
  width: 80px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-content: center;
  background-color: white;
}

@mixin hoverPinkText {
  opacity: 0.5;
  color: $content-color;
}

// FONT SETTING___________________________________________________________________________________________________

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

// MIXIN ENDED___________________________________________________________________________________________________________

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bgColor;
  font-family: 'TT Lakes Regular';
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'width' 100;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.section {
  &__little-navbar {
    @include flex-spaceBetween;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    position: static;
    // z-index: 999;
    // margin-bottom: 50px;
  }

  &__content-title.main {
    padding-top: 40px;
    padding-left: 50px;
    margin-bottom: 10px;
    font-size: $regularFontSize;
  }
}

.navbar {
  &__item-left {
    @include flex-spaceBetween;
    background-color: white;
  }
  &__item-right {
    display: flex;
    background-color: white;
  }
  &__item.one,
  &__item.three {
    display: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 50px;
}

.swiper {
  width: 100%;
  &-pagination,
  &-button-prev,
  &-button-next {
    display: none;
    width: 100%;
    // display: flex;
    // margin-top: 10px;
    // position: static;
    // width: 600px;
    // height: 300px;
  }

  &-slide {
    // width: 360px !important;
    width: auto;
  }
}

// MEDIA STARTED__________________________________________________________________________________________________________

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .navbar {
    &__item.one {
      display: flex;
    }
    &__item.three {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .brand_logo {
    display: flex;
    flex-wrap: nowrap;
  }

  .service_wrap,
  // .swiper-wrapper,
  .card-wrapper {
    display: flex;
    // flex-wrap: flex;
    justify-content: center;
    align-items: center;
    // @include flex-center;
  }
}

@media (min-width: 1120px) {
  .main-container {
    // display: flex;
    // float: left;
    // top: 0;
    margin-left: 320px;
  }
  .section {
    &__little-navbar {
      display: none;
      background-color: white;
    }
  }
  .navbar {
    &__item.three {
      display: inline-flex;
      background-color: $bgColor;
    }
  }
  .sidebar {
    display: static;
    left: 0;
    float: left;
    &__top {
      a.navbar__item.x {
        display: none;
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: #999;
}
.swiper-pagination-bullet-active {
  background-color: $content-color;
}

// MIN 768 & MIN 1120

// FIXING_________________________________________________

@media (min-width: 768px) {
}

@media (min-width: 1120px) {
}

// END OF FIXING____________________________________________

@media (max-width: 768px) {
  .swiper {
    &-pagination,
    &-button-prev,
    &-button-next {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 1120px) {
  .sidebar {
    display: none;
  }
}

// MEDIA ENDED____________________________________________________________________________________________________________

// GRID __________________________________________________________________________________________________________________

// GRID
.section__navigation {
  grid-column: 1/3;
  /* background-color: bisque; */
}

.section__content-title {
  grid-column: 1/3;
  /* background-color: bisque; */
}

.section__content-left {
  grid-column: 1/2;
  /* background-color: bisque; */
}

.section__content-right {
  grid-column: 2/3;
  /* background-color: bisque; */
}

// GRID END__________________________________________________________________________________________________________________

.sidebar img .navbar__item img {
  @include img-logo;
}

.navbar__item img {
  margin-left: 30px;
}

.header {
  @include flex-spaceBetween;
  padding: 50px 50px 30px 50px;
}

h2 {
  text-align: left;
  font-weight: bold;
  font-family: 'TT Lakes Bold';
  border-left: aqua 20px;
  font-size: 35px;
}

.navbar {
  &__item {
    @include flex-inlineSpaceBetween;
    text-decoration: none;
    color: $text;
    background-color: transparent;

    // HOVER
    &:hover,
    &:active {
      @include hoverPinkText;
    }
  }
  &__item img {
    @include img-logo;
    margin-left: 30px;
  }
  &__item.three {
    margin: 0 10px;
  }
  &__item-span {
    @include flex-center;
    font-size: 30px;
    margin: 0 10px;
    opacity: 0.5;
  }
  &__item.logo {
    margin-right: 60px;
    align-items: center;
  }
}

// ICONS

// KESALAHAN SEPERTINYA DISINI
.section__little-navbar,
.navbar,
.sidebar {
  & i {
    background-color: $content-color;
    color: white;
    // PERLU KOREKSI
    @include flex-inlineCenter;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
  }
}

.part {
  display: flex;
  font-size: 17px;
  overflow-x: auto;
  padding: 16px;

  &__navigation {
    @include flex-inlineSpaceBetween;
    min-width: 150px;
    padding-bottom: 10px;
    margin-left: 50px;
    color: $text;
    text-decoration: none;
    text-align: center;

    &.menu:hover {
      background-color: white;
      border: 2px solid #61dd95;
      padding: 10px 5px 10px 5px;
      border-radius: 5px;
    }

    &.menu:active {
      background-color: white;
      border: 2px solid #61dd95;
      padding: 10px 5px 10px 5px;
      border-radius: 5px;
    }
  }
}

// SMOOTH ANIMATION HOVERING________________________________________________________________________________________________

.part__navigation,
.navbar__item,
.read_more,
.brand,
.service,
.sidebar .part__navigation,
.sidebar .info a {
  transition: $transition;
}

.read_more,
.navbar__item {
  &:hover {
    @include hoverPinkText;
  }
}

.content {
  font-size: $regularFontSize;
  margin-bottom: 20px;
}

.main {
  // margin-left: 50px;
  color: $mainTextContent;
  & a {
    text-decoration: none;
    padding: 0 10px;
    align-items: center;
    color: $mainTextContent;
  }
}

img {
  width: 500px;
}

// READ MORE BUTTON (START)____________________________________________________________________________________________________

.paragraph {
  &_one {
    display: inline-flex;
  }
  &_two {
    display: none;
  }
}

input[type='checkbox']#paragraph_btn {
  height: 2em;
  display: block;
  appearance: none;
}

label.paragraph_button {
  position: relative;
  cursor: pointer;
}

.container .readMore_btn img::before {
  display: inline-flex;
}

.readMore_btn label.paragraph_button::before {
  content: 'Read More';
}

input[type='checkbox']#paragraph_btn:checked
  ~ .readMore_btn
  label.paragraph_button::before {
  content: 'Hide';
}

input[type='checkbox']#paragraph_btn:checked {
  & ~ .paragraph_two {
    display: inline-block;
  }
  & ~ .dots1 {
    display: none;
  }
}

// READ MORE BUTTON (END)___________________________________________________________________________________________________

// @media (min-width: 1121px) {
//     .sidebar {
//     display: block;
//     position: static;
//     float: left;
//     z-index: 999;
//     height: 100%;

//     top: 0;
//     left: 0;
//     bottom: 0;
//   // right: 0;
//   // position: fixed;
//     z-index: 999;
//     height: 100%;
//     width: 320px;

//     &__top a.navbar__item i {
//     // PERLU KOREKSI
//     @include flex-inlineSpaceBetween;
//     justify-items: center;
//     margin: 20px 10px;
//     display: none;
//   }
//   }

// }

.sidebar {
}

* .sidebar {
  background-color: white;
}

.sidebar {
  // display: block;
  position: fixed;
  // float: left;
  top: 0;
  left: 0;
  bottom: 0;
  // right: 0;
  // position: fixed;
  z-index: 999;
  height: 100%;
  width: 320px;
  background-color: white;
  /* flex-direction: column; */
  // align-items: flex;
  // justify-content: flex;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);

  &__top,
  &__listmenu,
  &__bottom,
  & .info,
  & a,
  & span,
  & .icon {
    background-color: white;
  }

  &__item.logo {
    position: fixed;
    margin-right: 60px;
    align-items: center;
  }

  &__top {
    background-color: white;

    // PERLU KOREKSI
    @include flex-inlineSpaceBetween;
    justify-items: center;
    margin: 20px 10px;
  }

  &__listmenu {
    background-color: white;

    .part__navigation {
      color: $text;
      margin: 10px 0;
      margin-left: 30px;
      padding-left: 10px;
      align-items: center;
    }
  }

  &__bottom {
    background-color: white;

    position: fixed;
    bottom: 0;
    margin-left: 40px;
    margin-bottom: 50px;
  }

  & .info {
    // @include flex-center;
    background-color: white;

    justify-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 20px;

    & span {
      // @include flex-inlineCenter;
      display: inline-flex;
      align-items: center;
      width: 100%;
      font-size: large;
    }

    & a {
      @include flex-inlineCenter;
      justify-items: center;
      color: $text;
      text-decoration: none;
      text-align: center;
      font-size: larger;
      background-color: white;

      &:hover {
        @include hoverPinkText;
      }
    }
  }

  & .part__navigation:hover,
  .part__navigation:active {
    border-left: 4px solid #61dd95;
    border-bottom: none;
    align-items: center;
    font-weight: 1000;
    cursor: pointer;
    color: $mainTextContent;
    opacity: 0.5;
  }

  &__bottom a {
    margin-right: 10px;
  }

  & .info .number {
    font-family: 'TT Lakes Bold';
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0;
  }
}

// ICON BRANDS_______________________________________________________________________________________________________________

.various_brand,
.various_services,
.service_price {
  width: 100%;
}

.brand {
  user-select: none;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  width: 240px;
  height: 72px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  margin: 20px 60px 20px 0;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;

  &_title {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: 20px;
    background-color: white;
    border-top: 1px solid #61dd95;
  }

  &.one {
    display: inline-flex;
  }

  &_logo {
    margin-left: 50px;
    width: 100%;
  }

  & i {
    @include flex-center;
    font-size: 10px;
    border: 2px solid $content-color;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: $content-color;
    width: 20px;
    height: 10px;
    background-color: transparent;
  }

  &:hover {
    background-color: white;
    cursor: pointer;
    box-shadow: 5px 5px 10px $shadowColor;
  }
}

img.brand__logo {
  background-color: transparent;
  @include flex-center;
  flex-direction: row;
  width: 120px;
  height: 45px;
  gap: 100px;
  margin-left: 10px;
}

.readMore_btn {
  @include flex-spaceAround;
  margin-left: 10px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  padding: 20px;
  padding-right: 70px;
  margin-bottom: 50px;
  transition: 0.3s ease-in;

  & img,
  label {
    background-color: transparent;
  }

  & img {
    width: 30px;
  }
}

// BUTTON______________________________________________________________________________________________________________________

input[type='checkbox'] {
  &#paragraph_btn,
  &#logo_btn,
  &#logo_btn__service {
    height: 2em;
    display: block;
    appearance: none;
  }
}

label {
  &.paragraph_button,
  &.logo_button,
  &.logo_button__service {
    position: relative;
    cursor: pointer;
    font-size: $regularFontSize;
  }
}

// ALL THE DYNAMIC BUTTON OF BRANDS (BY MEDIA)________________________________________________________________________________

/* HERE THE CODE ADD */

@media (max-width: 768px) {
  .brand {
    &.one,
    &.two {
      display: inline-flex;
    }
  }
  img.logo_button {
    display: none;
  }
  .service {
    &.one,
    &.two {
      display: inline-block;
    }
  }

  img.logo_button__service {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    & .readMore_btn:hover {
      box-shadow: 0px 0px 10px #c1c1c1;
      background-color: white;
    }
  }
  .brand {
    &_logo {
      display: block;
    }
    &_logo .readMore_btn:hover {
      box-shadow: 0px 0px 10px #c1c1c1;
      background-color: white;
    }
    &.one {
      display: inline-flex;
    }
    &.two {
      display: none;
    }
  }
  .service {
    &_wrap {
      display: block;
    }
    &_wrap .readMore_btn:hover {
      box-shadow: 0px 0px 10px #c1c1c1;
      background-color: white;
    }

    &.one {
      display: inline-block;
    }
    &.two {
      display: none;
    }
  }

  .brand_logo .readMore_btn img.logo_button::before {
    display: inline-flex;
  }

  .service_wrap .readMore_btn img.logo_button__service::before {
    display: inline-block;
  }

  .readMore_btn {
    & label.paragraph_button::before,
    & label.logo_button::before,
    & label.logo_button__service::before {
      content: 'Read More';
    }
  }

  input[type='checkbox'] {
    &#paragraph_btn:checked ~ .readMore_btn label.paragraph_button::before,
    &#logo_btn:checked ~ .readMore_btn label.logo_button::before,
    &#logo_btn__service:checked
      ~ .readMore_btn
      label.logo_button__service::before {
      content: 'Hide';
    }
  }

  // SHOW/HIDE PARAGRAPH PRACTICE 1 - SUCCESS_______________________________________________________________________

  input[type='checkbox']#logo_btn:checked ~ .brand.two {
    display: inline-flex;
  }

  input[type='checkbox']#logo_btn__service:checked ~ .brand.two {
    display: inline-block;
  }
}

// THE CODE READ MORE / HIDE ENDED__________________________________________________________________________________________

.service {
  user-select: none;
  // justify-content: space-between;
  text-decoration: none;
  align-items: center;
  width: 240px;
  height: 160px;
  padding: 20px;
  background-color: white;
  margin: 20px 60px 20px 0;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;

  &_title {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: 20px;
    background-color: white;
    border-top: 1px solid #61dd95;
  }
  &__kind {
    // padding-bottom: 100px;
    background-color: transparent;
  }

  &_wrap {
    margin-left: 50px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px $shadowColor;
  }

  & p {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    text-decoration: none;
    color: $text;
  }

  & i {
    @include flex-center;
    font-size: 10px;
    border: 2px solid $content-color;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: $content-color;
    width: 20px;
    height: 10px;
    float: right;
    background-color: transparent;
  }
}

//   T A B L E _____________________________________________________________________________________________________

// SERVICE PRICE_______________________________________________________

.swiper-container__service_price {
  width: 100%;
}

.service_price {
  // display: flex;
  &__title {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-size: 20px;
    background-color: white;
    border-top: 1px solid #61dd95;
  }

  @media (min-width: 768px) {
    &__table {
      // display: flex;
      margin-right: 20px;
      margin: 50px;
      width: 100%;
      border-collapse: collapse;

      & thead tr th {
        border-radius: 20px;
        margin: 0%;
        padding: 20px 150px;
        background-color: $bgColor;
      }

      & tbody {
        border: #ff3e79 solid 2px;
        border-radius: 10px;
      }

      & tbody tr td {
        padding: 20px 300px 20px 20px;
        background-color: white;
        &.price,
        &.deadline,
        &.button {
          background-color: #fff;
        }
        & a.order {
          @include flex-spaceAround;
          background-color: $content-color;
          border: none;
          border-radius: 50px;
          padding: 7px 30px;

          & p {
            color: white;
            background-color: $content-color;
            margin-right: 10px;
          }

          & i {
            background-color: $content-color;
            font-size: 10px;
            text-decoration: none;
            color: white;
            float: right;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    // table,
    // thead,
    // tbody,
    // tr,
    // th,
    // td {
    //   display: inline-block;
    //   width: 100%;
    // }

    thead {
      display: flex;
    }

    tr {
      margin-bottom: 15px;
      border: 1px solid white;
      border-radius: 8px;
      padding: 10px;
      background-color: white;
    }
    td {
      border: none;
      padding: 8px;
      position: relative;
      // padding-left: ;
    }
    .card,
    & thead tr th,
    & tbody tr td {
      display: flex;
      padding: 2em;
      border-radius: 10px;
      // background-color: white;
      text-align: center;
    }

    tr.card {
      width: 260px;
      height: 200px;
      display: inline-flex;
      background-color: white;
      border: 1px solid black;
      margin: 30px;
      padding: 20px;
    }
  }
}

// FOOTER__________________________________________________________________

footer {
  margin: 50px;
}

.description {
  p {
    width: 470px;
  }
  h3 {
    font-family: 'TT Lakes Medium';
  }
}

.about {
  width: 100%;

  @media (min-width: 1120px) {
    @include flex-SpaceBetween;
  }

  p {
    @include flex-inlineSpaceBetween;
    width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    align-item: center;
    align-content: center;
    justify-content: center;

    .info2 {
      display: flex;
    }

    @media (max-width: 1120px) {
      @include flex-inlineSpaceBetween;
      width: 400px;
      width: 100%;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
    }
  }
}
